/* 
  CSS for the card site 
  #23325a - dark blue
  #e7a572 - dark yellow
  #f7e6d3 - light yellow
  #782b42 - dark red
*/


@font-face {
    font-family: 'Nunito';
    src: url(assets/fonts/Nunito/Nunito-VariableFont_wght.ttf) format('truetype');
    font-optical-sizing: auto;
    font-weight: 200 800;
    font-style: normal;
}

body {
    background-color: #23325a ;
}

.get_started {
    height: 70px;
    width: 200px;
    background-color: #e7a572;
    border: #782b42 2px solid;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.get_started p {
    color: #782b42;
    font-size: 23px;
    font-weight: 400;
    font-family: Nunito;
    text-align: center;
    cursor: pointer;
}

.get_started:hover {
    background-color: #e7a572;
    border-color: #23325a;
    box-shadow: 0 0 15px rgb(0, 194, 253);
}

/* Diamond Shape Stars */
.stars {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
    transform: rotate(45deg);
    box-shadow: 0 0 10px white;
    opacity: 1;
    transition: transform 0.5s ease-out, opacity 0.5s ease-in-out;
}

.stars.large {
    width: 10px;
    height: 10px;
}
  
#nav {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    z-index: 100;
}
  
.logo {
    padding: 0px;
    width: 75px;
    height: 75px;
    background-image: url(assets/image/logo_bird_1.png);
    background-size: cover;
    margin-left: -5px;
    border-radius: 20px;
}
  
.dropdown {
    width: 110px;
    height: 50px;
    background-color: #23325a;
    color: #f7e6d3;
    border:#e7a572 4px solid;
    border-radius: 30px;
    position: relative;
    margin: 0px 20px;
    transition: background-color 0.3s ease-in-out;
}
  
.for-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.dropdown p {
    font-family: Nunito;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: #f7e6d3;
    margin: 2px -5px 0px 5px;
    padding: 6px;
    transition: color 0.3s ease-in-out;
}
  
.dropdown svg {
    fill: #f7e6d3;
    padding: 0px;
    width: 30px;
    height: 30px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, transform 0.3s ease-in-out, fill 0.3s ease-in-out;
}
  
.checkbox:not(:checked) ~ .for-checkbox p {
    color: #f7e6d3;
}
  
.checkbox:checked ~ .for-checkbox p {
    color: #23325a;
}
  
.checkbox:not(:checked) ~ .dropdown {
    background-color: #23325a; /* dark blue */
    border:#e7a572 3px solid;

}
  
.checkbox:checked ~ .dropdown {
    background-color: #e7a572; /* dark yellow */
    border:#23325a 3px solid;

}
  
.checkbox:not(:checked) ~ .for-checkbox svg {
    transform: rotate(0deg);
    fill: #f7e6d3;
}
  
.checkbox:checked ~ .for-checkbox svg {
    transform: rotate(-180deg);
    fill: #23325a;
}
  
@keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
@keyframes slideDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
}
  
@keyframes flip {
    0% {
      transform: scale(1.50) translate(0, 200px) rotateY(0deg);
    }
    50% {
      transform: scale(1.50) translate(0, 200px) rotateY(180deg);
    }
    100% {
      transform: scale(1.50) translate(0, 200px) rotateY(180deg);
    }
}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 120%;
    left: 10px;
    background-color: #23325a; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:100;
    border-radius: 4px; 
    animation: slideUp 0.3s ease-in-out; 
}
  
.checkbox:not(:checked) ~ .dropdown-content {
    display: block;
    animation: slideDown 0.3s ease-in-out forwards;
    animation-fill-mode: forwards;
    pointer-events: none; 
}
  
.checkbox:checked ~ .dropdown-content {
    display: block;
    animation: slideUp 0.3s ease-in-out forwards;
    pointer-events: auto; 
}
  
.checkbox:not(:checked) ~ .dropdown-content.slideDown {
    display: none;
}
  
.dropdown-content a {
    color: #f7e6d3; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Nunito;
    font-weight: 600;
    border-radius: 4px; 
}
  
.dropdown-content a:hover {
    background-color: #e7a572;
    color: #23325a; 
}
  
[type="checkbox"]:checked, [type="checkbox"]:not(:checked){
    position: absolute;
    left: -99999px;
}

.introduction {
    overflow: hidden;
}

.title {
    position: relative;
    font-size: 50px;
    color: #f7e6d3;
    top: 5px; /* Adjusts the text vertically to appear above the line */
    left: 72%;
    transform: translateX(-68%); /* Centering the text */
    z-index: 1; /* Ensures the text appears above the line */
    font-family: nunito;
}

.line {
    border-top: 4px solid #e7a572;
    width: 600px;
    margin-left: 4%; 
    margin-top: 20x; 
    margin-bottom: 20px;
    z-index: 0; 
}

.description {
    position: relative;
    font-size: 35px;
    font-family: nunito;
    color: #f7e6d3;
    top: 5px; /* Adjusts the text vertically to appear above the line */
    left: 98%;
    transform: translateX(-94%); /* Centering the text */
    z-index: 1; /* Ensures the text appears above the line */
}

.schedule_button {
    font-family: nunito;
    height: 70px;
    width: 200px;
    background-color: #e7a572;
    border-radius: 20px;
    position: absolute;
    bottom: 10%;
    left: 7%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.schedule_button:hover {
    box-shadow: 0 0 15px rgb(0, 194, 253);
}
.schedule {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.layout {
    margin: 20px;
    border: 3px solid #782b42;
    border-radius: 50px;
}
.menu {
    background-color: #782b42;
    margin: 20px;
    border: 3px solid #e7a572;
    border-radius: 50px;
    display: grid;
    grid-template-rows: 1fr auto 1fr auto 1fr auto 1fr auto 1fr;
    grid-template-columns: 1fr;
}

.menu_item {
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 13px;
}

.menu hr {
    width: 80%;
    border: 0;
    border-top: 2px solid black;
    margin: auto;
}

.menu_item h1 {
    font-family: nunito;
}
