@font-face {
    font-family: 'Nunito';
    src: url(assets/fonts/Nunito/Nunito-VariableFont_wght.ttf) format('truetype');
    font-optical-sizing: auto;
    font-weight: 200 800;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #03e005;
}

.no-scroll {
    overflow: hidden;
}

.background-fixed {
    position: fixed;
    z-index: -3;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.background img {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.background img:nth-child(1) {
    content: url(assets/images/upside.svg);
    top: -10px;
    left: -400px;
}

.background img:nth-child(2) {
    content: url(assets/images/downside.svg);
    bottom: -300px;
    right: -400px;
}

.intro {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr auto 0.5fr;
}

#nav {
    position: relative;
    width: 100vw;
    height: 8vw;
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    margin: 10px 0px 0 30px;
    height: 70px;
    width: 70px;
    background-image: url(assets/images/logo_ucc.png);
    background-size: cover;
    cursor: pointer;
}

.logo.intro {
    height: 1080px;
    width: 1080px;
    position: absolute;
    transform: translate(-20%,28%) scale(0.4);
}

.right {
    position: absolute;
    right: 50px;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right div {
    margin: 0 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-search img {
    content: url(assets/images/search.png);
    width: 20px;
    height: 20px;
}

.nav-menu img {
    content: url(assets/images/menu.png);
    width: 20px;
    height: 20px;
}

.title {
    position: relative;
    width: 100vw;
    font-family: nunito;
    font-size: 20px;
    font-weight: 800;
    color: black;
    text-align: right;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
}

.title p {
    font-family: nunito;
    font-size: 14px;
    font-weight: 400;
}

.title-right {
    width: 60vw;
    margin-right: 20px;
}

.subtext-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
}

.subtext {
    width: 30vw;
}

.get_started {
    position: fixed;
    width: 20vw;
    height: 7vw;
    font-family: nunito;
    font-size: 20px;
    font-weight: 800;
    color: black;
    background-color: #7b7a7a5e;
    border-radius: 1000px ;
    text-align: center;
    align-content: center; ;
    right: 50px;
    bottom: 60px;
    cursor: pointer;
}

.login {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: auto;
    font-family: nunito;
    color: black;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

.login.transitioned {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
}

.login form {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.profile {
    content: url(assets/images/profile.svg);
}

.lock {
    content: url(assets/images/lock.svg);
}

.input-container input {
    flex: 1;
    padding: 10px;
    margin-left: 50px; /* Add margin to move input away from the icon */
    font-family: nunito;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    outline: none;
    transition: border-color 0.3s; /* Removed padding-top transition */
}

.input-container input:focus {
    border-bottom: 2px solid #03e005;
}

.input-container label {
    position: absolute;
    top: 10px;
    left: 60px; /* Add margin to align label with the input */
    font-family: nunito;
    font-size: 14px;
    color: #aaa;
    transition: all 0.3s;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: #03e005;
}

.input-container .helper-text {
    font-family: nunito;
    font-size: 12px;
    color: #aaa;
    margin-top: 5px;
    display: none;
}

.input-container input:focus ~ .helper-text {
    display: block;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-family: nunito;
    font-size: 16px;
    font-weight: 800;
    color: white;
    background-color: #03e005;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #028c04;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Gray background */
    z-index: 999; /* Below the login modal */
}

.overlay.active {
    display: block;
}

.schedule-content {
    position: relative;
    overflow: hidden;
}

.menu-container {
    width: auto;
    position: absolute;
    display: block;
    align-items: center;
    height: auto;
    background-color: white;
    border: black solid 2px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 127px;
    margin-right: auto;
}

.menu-title {
    font-family: nunito;
    font-size: 20px;
    font-weight: 800;
    color: black;
    text-align: center;
    margin: 0;
    padding: 10px 0; /* Add padding for spacing */
}

.footer {
    width: 100vw;
    display: none;
}

.info5 {
    position: fixed; /* Fix the position relative to the viewport */
    bottom: 140px; /* Adjust the distance from the bottom */
    right: 200px; /* Adjust the distance from the right */
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    background-image: url(assets/images/info.png); /* Set the image */
    background-size: contain; /* Ensure the image fits within the element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    cursor: pointer; /* Add a pointer cursor for interactivity */
    z-index: 100; /* Ensure it appears above other elements */
}

.info4 {
    position: fixed; /* Fix the position relative to the viewport */
    bottom: 140px; /* Adjust the distance from the bottom */
    right: 550px; /* Adjust the distance from the right */
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    background-image: url(assets/images/info.png); /* Set the image */
    background-size: contain; /* Ensure the image fits within the element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    cursor: pointer; /* Add a pointer cursor for interactivity */
    z-index: 100; /* Ensure it appears above other elements */
}

.info3 {
    position: fixed; /* Fix the position relative to the viewport */
    bottom: 140px; /* Adjust the distance from the bottom */
    right: 900px; /* Adjust the distance from the right */
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    background-image: url(assets/images/info.png); /* Set the image */
    background-size: contain; /* Ensure the image fits within the element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    cursor: pointer; /* Add a pointer cursor for interactivity */
    z-index: 100; /* Ensure it appears above other elements */
}

.info2 {
    position: fixed; /* Fix the position relative to the viewport */
    bottom: 350px; /* Adjust the distance from the bottom */
    right: 900px; /* Adjust the distance from the right */
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    background-image: url(assets/images/info.png); /* Set the image */
    background-size: contain; /* Ensure the image fits within the element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    cursor: pointer; /* Add a pointer cursor for interactivity */
    z-index: 100; /* Ensure it appears above other elements */
}

.info1 {
    position: fixed; /* Fix the position relative to the viewport */
    bottom: 350px; /* Adjust the distance from the bottom */
    right: 550px; /* Adjust the distance from the right */
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    background-image: url(assets/images/info.png); /* Set the image */
    background-size: contain; /* Ensure the image fits within the element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    cursor: pointer; /* Add a pointer cursor for interactivity */
    z-index: 100; /* Ensure it appears above other elements */
}

.info-container5 {
    position: fixed; /* Fix the position relative to the viewport */
    width: 125px;
    border-radius: 5px;
    bottom: 90px; /* Adjust the distance from the bottom */
    right:285px; /* Adjust the distance from the right */
    border: black solid 2px;
    text-align: center;
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Vertically align items */
    z-index: 100; /* Ensure it appears above other elements */
}

.info-text5 {
    margin-left: 10px; /* Add spacing between the icon and the text */
    font-family: nunito; /* Use the desired font */
    font-size: 22px; /* Set the font size */
    color: black; /* Set the text color */
}

.info-container4 {
    position: fixed; /* Fix the position relative to the viewport */
    width: 125px;
    border-radius: 5px;
    bottom: 90px; /* Adjust the distance from the bottom */
    right:635px; /* Adjust the distance from the right */
    border: black solid 2px;
    text-align: center;
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Vertically align items */
    z-index: 100; /* Ensure it appears above other elements */
}

.info-text4 {
    margin-left: 10px; /* Add spacing between the icon and the text */
    font-family: nunito; /* Use the desired font */
    font-size: 22px; /* Set the font size */
    color: black; /* Set the text color */
}

.schedule-container {
    z-index: 6;
    display: flex;
    justify-content: space-between; /* Space between menu and schedule */
    padding: 40px; /* Add padding for spacing */
}

.schedule {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: black solid 2px;
    border-radius: 5px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 1%;
    padding: 20px;
    width: 80vw;
    height: 65vh;
}

.schedule-img {
    width: 80%; /* Make the image take up the full width of the schedule */
    height: 80%; /* Maintain the aspect ratio */
    z-index: 5; /* Ensure it appears above the background */
    position: absolute; /* Position it absolutely within the schedule */
    top: -1; /* Reset any top positioning */
    left: 10.3vw; /* Reset any left positioning */
}

.grid-rooms {
    display: grid;
    margin-left: 33px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    gap: 17px;
    row-gap: 55px;
    height: 96%;
    width: 94.4%;
}

.room {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 366px; /* Set a fixed width for the container */
    height: 205px;
    overflow: hidden;
    position: relative;
    z-index: 6;
    border: 1px solid transparent;
    border-radius: 5px;
}

.room:hover {
    background-color: lightgrey; /* Change background color on hover */
    transform: scale(1.3); /* Scale without affecting layout */
    z-index: 10; /* Ensure the hovered room appears above others */
    border: 1px solid black;
    border-radius: 20px;
    transition: transform 0.5s;
}

.room3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 366px; /* Set a fixed width for the container */
    height: 205px;
    overflow: hidden;
    position: relative;
    z-index: 6;
}

.MIS {
    background-color: white;
    border-radius: 20% 10%;
    font-size: 25px;
    text-align: center;
    font-family: nunito;
    width: auto;
    padding: 5px 10px;
    border: black solid 2px;
}

.info-icon {
    width: 40px; /* Set the desired width */
    height: auto; /* Set the desired height */
    cursor: pointer; /* Add a pointer cursor for interactivity */
    z-index: 10;
    position: absolute;
    top: 42px;
    right: 76px;  
}

.info-icon:hover {
    transform: scale(1.1); /* Scale up the icon on hover */
    transition: transform 0.3s; /* Smooth transition effect */
}

.MIS-info-container {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    font-family: nunito;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.MIS-info-container.transitioned {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
}

.MIS-info-text {
    margin-left: 16px; /* Add spacing between the icon and the text */
    font-family: nunito; /* Use the desired font */
    font-size: 22px; /* Set the font size */
    color: black; /* Set the text color */
}

.ADMIN-title {
    font-family: nunito;
    font-size: 40px;
    width: 250px;
    height: auto;
    font-weight: 800;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px 10px; /* Add padding for spacing */
    background-color: #ff680c;
    border-radius: 10px;

    left: 10vw;
}

.Center-Title {
    position: absolute;
    right : 42vw;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab; /* Default grab cursor */
}

.Center-Title:active {
    cursor: grabbing; /* Change to grabbing on click */
}